
README.md

top200drugs/*.docx

# top200drugs/Gastro.pdf
# top200drugs/Immune.pdf
# top200drugs/MuscularSkeletalDrugs.pdf
# top200drugs/RespiratoryDrugs.pdf
top200drugs/Neuro.pdf
top200drugs/Cardio.pdf
top200drugs/Endocrine.pdf